<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New tab</title>
        <link rel="stylesheet" href="../css/newtab.css" />
    </head>
    <body>
        <main>
            <button class="linkbtn addbtn"></button>
            <!-- <button class="linkbtn addbtn" onclick="addImage()"></button> -->
            <input type="file" class="fileUpload" id="uploadImage" onchange="addImage()">
        </main>
        <div class="modal">
            <div class="dialog">
                
            </div>
        </div>
    </body>
    <script src="../js/main.js"></script>
</html>